:root {
    --primary-color: #FF385C;
}
  
.primary-color {
  background-color: var(--primary-color) !important;
}

.nav-wrapper {
  display: flex;
  align-items: flex-end;
}

.link {
  text-indent: 3rem;
  text-decoration: none !important;
  color: inherit !important;
  user-select: none;
}
